* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1 {
    text-align: center;
}
.bottom_header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.one{
    grid-column: 1 / 3;
    grid-row: 1;
}