:root {
    --primary-color: #002E5D;
    --secondary-color: #002f5dc7;
    --backgroud: #F8F8FF;
    --light-text: #fff;
    --red-background: #f2dede;
	--red-text: #a94442;
	--green-text: #3c763d;
	--green-background: #dff0d8;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1 {
    text-align: center;
    margin-top: 1em;
}
.bottom_header {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(80px, auto);
    width: 90%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: -2%;
}
a {
    text-decoration: none;
    color: black;
}

.one{
    grid-column: 1 / 3;
    grid-row: 1;
    margin-top: .75em;
}
.two {
    grid-column: 2 / 4;
    grid-row: 1;
    margin-top: .75em;
  }
  .three {
    grid-column: 3/4;
    grid-row: 1;
    text-align: center;
  }

/* Calendar */

.week_day {
    margin-top: 1em;
    margin-left: 8%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(80px, auto);
}
.sun {
    grid-column: 1 / 7;
    grid-row: 1;
}
.mon {
    grid-column: 2 / 7;
    grid-row: 1;
}
.tue {
    grid-column: 3 / 7;
    grid-row: 1;
}
.wed {
    grid-column: 4 / 7;
    grid-row: 1;
}
.thu {
    grid-column: 5 / 7;
    grid-row: 1;
}
.fri {
    grid-column: 6 / 7;
    grid-row: 1;
}
.sat {
    grid-column: 7 / 7;
    grid-row: 1;
}

.row_1 {
    margin-top: -2%;
    margin-left: 4%;
    margin-right: 6%;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(80px, auto);
}
.box_1 {
    grid-column: 1 / 7;
    grid-row: 1;
    border: 1px solid black;
}
.box_2 {
    grid-column: 2 / 7;
    grid-row: 1;
    border: 1px solid black;
}
.box_3 {
    grid-column: 3 / 7;
    grid-row: 1;
    border: 1px solid black;
}
.box_4 {
    grid-column: 4 / 7;
    grid-row: 1;
    border: 1px solid black;
}
.box_5 {
    grid-column: 5 / 7;
    grid-row: 1;
    border: 1px solid black;
}
.box_6 {
    grid-column: 6 / 7;
    grid-row: 1;
    border: 1px solid black;
}
.box_7 {
    grid-column: 7 / 7;
    grid-row: 1;
    border: 1px solid black;
}
.row_2, 
.row_3, 
.row_4 {
    margin-left: 4%;
    margin-right: 6%;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(80px, auto);
}

/* LOGIN */
.log-header {
    width: 40%;
    margin: 50px auto 0px;
    color: var(--light-text);
    background: var(--primary-color);
    text-align: center;
    border: 1px solid var(--primary-color);
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}
form, .message-content {
    width: 40%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: white;
    border-radius: 0px 0px 10px 10px;
}
.input-group {
    margin: 10px 0px 10px 0px;
}
.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}
.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
.log-btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
#user_type {
    height: 40px;
    width: 98%;
    padding: 5px 10px;
    background: white;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
.error {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid var(--red-text); 
    color: var(--red-text); 
    background: var(--red-background); 
    border-radius: 5px; 
    text-align: left;
}
.success {
    color: var(--green-text); 
    background: var(--green-background); 
    border: 1px solid var(--green-text);
    margin-bottom: 20px;
}